* {
    margin: 0;
    padding: 0;
}

html.body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.logo h1 {
    font-size: 5rem;
    color: #fff;
}

.navLinks ul {
    display: flex;
}

.navLinks ul li a {
    /* border: 1px solid white; */
    font-size: 1.8rem;
    padding: 0px 2.5rem;
    color: #fff;
}

.navLinks ul li a:hover{
    color: red;
}

.lineBar {
    display: none;
}

.heroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.heroImage {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgb(216, 164, 164, .8);
    inset: 0;
}

.heroContainer {
    position: absolute;
    z-index: 2;
    color: #fff;
    max-width: 600px;
    padding-left: clamp(2rem, 6vw, 6rem);
}

.heroContainer span {
    font-size: clamp(1.8rem, 2vw, 2rem);
    
}

.heroContainer h2{
      font-size: clamp(4rem, 5vw, 6rem);
      margin: 20px 0px;
}
.heroContainer p {
    font-size: clamp(1.5rem, 1.5vw, 1.8rem);
    
}
.heroContainer button {
   padding: clamp(1rem, 1vw, 1.5rem) clamp(2rem, 3vw, 3rem);
   border: none;
   background-color: #fff;
   cursor: pointer;
   font-size: clamp(1.2rem, 1vw, 1.5rem);
   margin-top: 20px;
}
.heroContainer button:hover{
  background-color: red;
  color: #fff;
}

.hoardingSection {
    width: 100%;
}

.commonContainer {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.hoardingContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 1% 0px;
}

.leftHoardingContainer {
    width: 50%;
    position: relative;
}

.OverFlowLeft {
    background-color: rgb(197, 197, 105, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101010;
    text-transform: uppercase;
    font-size: 2rem;
}

.rightHoardingContainer {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.leftHoadingDiv {
    width: 49%;
    position: relative;
}

.colorLeft {
    background: linear-gradient(hsla(250, 82%, 26%, 0.7), hsla(120, 78%, 31%, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;

}

.rightHoadingDiv {
    width: 49%;
    position: relative;
}

.colorRight {
    background: linear-gradient(hsla(6, 63%, 54%, 0.7), hsla(304, 54%, 44%, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

.CentarHoadingDiv {
    width: 100%;
    position: relative;
}

.colorCenter {
    background: linear-gradient(hsla(0, 57%, 45%, 0.7), hsla(70, 77%, 40%, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

.colorCenter a {
    background-color: #fff;
    padding: calc(5px + 0.5vw);
    color: #000;
    font-size: 1.8rem;
    font-weight: 100;
    text-transform: uppercase;
}

.HoadingDivImg {
    width: 100%;
    height: 100%;
}

.ExperiencesContainerSection {
    background-color: #fff;
}

.ExperiencesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.ExperiencesContainerText {
    width: 35%;
    /* background-color: aqua; */
}

.ExperiencesContainerText h3 {
    font-size: 2.5rem;
    /* font-size: calc(2rem + 1vw); */
    font-weight: 500;
    margin-bottom: 20px;
}

.ExperiencesContainerText span {
    font-size: 1.5rem;
    /* font-size: calc(1rem + 0.5vw); */
    color: #0c0c0c;
    margin-bottom: 20px;
}

.ExperiencesContainerText p {
    font-size: 1.5rem;
    /* font-size: calc(1rem + 0.5vw); */
    color: #4d484d;
    margin-top: 2%;
}

.ExperiencesContainerText button {
    background-color: #989494;
    padding: 10px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 2%;
    border: none;
    border-radius: 3rem;
}

.ExperiencesContainerImg {
    width: 25%;
    margin-left: 30px;
}

.LikeImage {
    width: 100%;
}

@media (max-width:1010px) {
    .hoardingContainer {
        flex-wrap: wrap;
    }

    .leftHoardingContainer {
        width: 100%;
        position: relative;
    }
    .rightHoardingContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
}

@media (max-width:700px) {
    .navLinks ul {
        display: none;
    }

    .lineBar {
        display: block;
    }

    .ExperiencesContainer{
        display: block;
    }
    .ExperiencesContainerText {
    width: 100%;

}
.ExperiencesContainerImg {
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
}
}
@media (max-width:500px) {
    .leftHoadingDiv, .rightHoadingDiv{
        width: 100%;
    }
}